:root {
  --pokedex-primary: #d2092d;
  --pokedex-secondary: #d4d4d4;
  --pokedex-tertiary: #24a2f0;
  --gb-darkest: #2d1b00;
  --gb-dark: #1e606e;
  --gb-light: #5ab9a8;
  --gb-lightest: #c4f0c2;
  --gb-screen-frame: #767388;
}
